@import "navbar";

button {
  transition: all 1s ease-in-out !important;
}
.users div:last-child {
   width: 95%;
   margin: 0 auto;
}
.table {
    color: #443a3a;
    position: relative;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(2, 74, 152, 0.05);
  caption {
    caption-side: top;
  button {
    margin-right: 15px;
    position: absolute;
    right: 0;
    padding: 5px 25px;
    color: #007BFF !important;
    &:hover {
      background-color: #007BFF;
    }
  }
   span {
    padding-left: 15px;
    font-size: 22px;
    color: #443a3a;
  }
}
.btn-success:hover {
  color: #28A745 !important;
  background-color: white !important;
  border: none;
}
.text-success {
  border: none !important;
}
 th {
    font-weight: normal;
  }
  td,th {
      text-align: center;
      vertical-align: middle;
      height: 40px;
  }
.buttons button {
  border: none;
  padding: 0;
}
}

@media only screen and (max-width:576px) {
  .users div:last-child {
    width: 100%;
    margin: 0 auto;
 }
}