.navbar-btn {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

#sidebar {

  width: 22%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: white;
  @include shadow-box;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 200;

}

#sidebar.active {
  min-width: 60px;
  max-width: 60px;
  text-align: center;
}

#sidebar.active h2 {
  display: none;
}

#sidebar.active span {
  display: none;
}

#sidebar.active ul.components li {
  font-size: 10px;
}

#sidebar.active ul.components li a {
  padding: 10px 0;
}

#sidebar.active ul.components li a span {
  margin-right: 0;
  display: none;
  font-size: 10px;
}

#sidebar.active ul li>ul {
  display: none;
}

#sidebar ul.components {
  padding: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
  #sidebar ul.components {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

#sidebar ul li {
  font-size: 18px;
}

#sidebar ul li>ul {
  margin-left: 10px;
}

#sidebar ul li>ul li {
  font-size: 14px;
}

#sidebar ul li a {
  padding: 10px 30px;
  display: block;
  color: rgba($color: $medium-grey, $alpha: 0.8);
}

#sidebar ul li i {
font-size: 15px;
  margin: 3px;
 
}

#sidebar ul li a span {
  margin-right: 15px;
}

@media (max-width: 991.98px) {
  #sidebar ul li a span {
    display: block;
  }
}

#sidebar ul li a:hover {
  color: #3e64ff;
  text-decoration: none;
  background-color: #e0f3ff;
}

#sidebar ul li.active>a {
  color: #3e64ff;
  text-decoration: none;
  background-color: #e0f3ff;
}

@media (max-width: 1020.98px) {
  #sidebar {
    min-width: 200px;
    max-width: 200px;
    text-align: center;
  }

  #sidebar.active {
    margin-left: 0 !important;
  }
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (max-width: 991.98px) {
  #sidebarCollapse span {
    display: none;
  }
}

.footer {
  padding: 0 30px;
}

#sidebarCollapse {
  border: none;
}

.username {
  h2 {
    font-size: 30px;
    color: $medium-grey;
    font-weight: 400;
    padding: 15px;
  }

  .badge {
    background-color: white;
    color: rgba($color: $medium-grey, $alpha: 0.5);
    border: 1px solid rgba($color: $medium-grey, $alpha: 0.5);
    font-weight: 400;
  }
}

.dropdown.active {
  display: none !important;
}

.footer {
  a {
    color: rgba($color: $medium-grey, $alpha: 0.8);
    font-size: 15px;
  }

  img {
    width: 15px;
  }
}

@media (max-width: 768px) {

  #sidebar {
    min-width: 15%;
    max-width: 15%;
    text-align: center;
  }

  #sideH2 {
    display: none;
  }

  .sideH2 {
    display: block !important;
  }

  .sideSpan {
    display: inline-block !important;
  }

  #sideSpan {
    display: none;
  }

  #sidebar ul.components li a span {
    display: none;
  }

}

.mobileActiveMenu {
  min-width: 40% !important;
  max-width: 40% !important;
}

.mobileContent2 {
  right: -40% !important;
}