.navbar-btn {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

.wrapper {
  width: 100%;
  position: relative;
}

#sidebar {
  position: fixed;
  width: 25%;
  background: white;
  height: 100%;

  @include shadow-box;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#sidebar.active {
  min-width: 60px;
  max-width: 60px;
  text-align: center;

}



#sidebar.active h2 {
  display: none;
}

#sidebar.active span {
  display: none;
}

#sidebar.active ul.components li {
  font-size: 10px;
}

#sidebar.active ul.components li a {
  padding: 10px 0;
}

#sidebar.active ul.components li a span {
  margin-right: 0;
  display: none;
  font-size: 10px;
}

#sidebar.active ul li>ul {
  display: none;
}

#sidebar ul.components {
  padding: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
  #sidebar ul.components {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

#sidebar ul li {
  font-size: 18px;
}

#sidebar ul li>ul {
  margin-left: 10px;
}

#sidebar ul li>ul li {
  font-size: 14px;
}

#sidebar ul li a {
  padding: 10px 30px;
  display: block;
  color: rgba($color: $medium-grey, $alpha: 0.8);
}

#sidebar ul li img {
  width: 20px;
  height: auto;
  margin: 5px;
}

#sidebar ul li a span {
  margin-right: 15px;
}

@media (max-width: 991.98px) {
  #sidebar ul li a span {
    display: block;
  }
}

#sidebar ul li a:hover {
  color: #3e64ff;
  text-decoration: none;
  background-color: #e0f3ff;
}

#sidebar ul li.active>a {
  color: #3e64ff;
  text-decoration: none;
  background-color: #e0f3ff;
}

@media (max-width: 1020.98px) {
  #sidebar {
    min-width: 200px;
    max-width: 200px;
    text-align: center;
  }

  #sidebar.active {
    margin-left: 0 !important;
  }
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (max-width: 991.98px) {
  #sidebarCollapse span {
    display: none;
  }
}

.footer {
  padding: 0 30px;
}


#content {
   padding: 0;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  // position: absolute;
  // right: 0;
  width: 100%;
}

#sidebar {
  .btn.btn-primary {
    background: #3e64ff;
    border-color: #3e64ff;
  }

  .btn.btn-primary:hover,
  .btn.btn-primary:focus {
    background: none !important;
    border-color: none !important;
  }
}

#sidebarCollapse {
  border: none;
}

.username {
  h2 {
    font-size: 30px;
    color: $medium-grey;
    font-weight: 400;
    padding: 15px;
  }

  .badge {
    background-color: white;
    color: rgba($color: $medium-grey, $alpha: 0.5);
    border: 1px solid rgba($color: $medium-grey, $alpha: 0.5);
    font-weight: 400;
  }
}

.dropdown.active {
  display: none !important;
}

.footer {
  a {
    color: rgba($color: $medium-grey, $alpha: 0.8);
    font-size: 15px;
  }

  img {
    width: 15px;
  }
}

@media (max-width: 760px) {
  #sidebar.active {
    visibility: visible;

    transform: translateX(-100%);
  }
}