@import "navbar";

.profileSection {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  overflow-y: hidden;





.card {
  background-color: $light-grey;
margin-top: 20px;
  @include shadow-box;
width: 40%;

  .card-title {
   
    h3 {
      font-size: 35px;
      color: $medium-grey;
      margin-bottom: 25px;
text-align: center;
    }
  }

  .card-content {
    color: $dark-grey;


  }

  .card-body{
    input{
      margin-bottom: 15px;
    }
  }

}


.profile {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;

  flex-wrap: wrap;

}

}
@media (max-width: 580px)
{

  .card{
   width: 80%;
  }
  h3{
    font-size: 25px;
  }
}